.banner-collapse {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  
    img {
      width: 100%;
      max-width: 1240px;
      height: 223px;
      object-fit: cover;
      border-radius: 25px;
      display: block;
    }
  
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      max-width: 1240px;
      height: 223px;
      border-radius: 25px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: black;
      opacity: 0.30; // assombrissement léger
      mix-blend-mode: darken;
      pointer-events: none;
    }
  }
  