.collapse {
  width: auto;
  margin: 25px auto;

  .collapse-header {
    background-color: #ff6060;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;

    h3 {
      margin: 0;
      font-size: 18px;
    }

    .arrow {
      font-size: 24px;
      transition: transform 0.3s ease;
    }

    .arrow.open {
      transform: rotate(180deg);
    }
  }

  .collapse-content {
    background-color: #f6f6f670;
    padding: 0 20px;
    border-radius: 0 0 5px 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }

  &.show {
    .collapse-content {
      padding: 20px;
      max-height: 500px;
    }
  }
}
